.codeadd{
	width:1000px;
	margin-top: 30px;
}
.codename{
	width:1000px;
	height:800px;
	background: #fff;
}
.page-breadcrumb a{
	text-decoration: none;
	font-weight: bold;
}
label{
	float: left;
    zoom: 1;
    width: 104px;
    line-height: 30px;
    text-align: left;
    vertical-align: top;
    display: inline;   
    font-size: 14px;
    font-weight: 100;
}
.codenav{
	width:1000px;
	background: #ebebeb;
	margin-top: 20px;

}
.navbar-default .navbar-brand{
     color: #12bdce; 
}
.nav.code{
	margin-left:60px;
	margin-top: 20px;
}
/*表单部分*/
.star{
	height:50px;
	float:left;
	margin-left: -20px;
	margin-top: 15px;
	float:left;

}
.star i{
	width:10px;
	height:10px;
	float:left;
	text-align: center;
	margin-left: 5px;
	color:red;
	float:left;
}
.inputcon{
	margin-left: 20px;
	margin-top: -20px;
	float:left;
}
.after-conent-tips{
	width:200px;
	height:20px;
	float:left;
}
.star span{
	width:900px;
	height:40px;
	font-size: 8px;
	color:#999;
}
.bnner{
	width:200px;
	width:100px;
	background: #ccc;
	float:left;
}
.selectpicker{
	float:left;
	margin-left: 19px;
	margin-top: -20px;
}
.ios-select{
    width: 400px;
    padding: 25px;
    margin-left: 170px;
    border-top: 3px solid #dfdfdf;
    background-color: #f8f8f8;
    display: none;
 
}
.ios-select .ios-one{
	margin-left: 10px;
    font-size: 12px;
    text-align: center;
    padding: 0 20px;
    background-color: #ebebeb;
    display: inline-block;
    zoom: 1;
    height: 30px;
    line-height: 30px;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.nav .open>a, .nav .open>a:hover, 
.nav .open>a:focus {
    background-color: #eee;
    border-color: #428bca;
    }
.star a{
	text-decoration: none;
}
.tips{
  font-size: 14px;
  margin-left: 10px;
  color:#333;
}
.star img{
	margin-left: 15px;
	margin-top: -2px;
}
.star .baidu{
	font-size: 14px;
	color:black;
	color:#333;
	margin-top: -2px;
}
.remarks{
	width:400px;
	height:200px;
	background: #ebebeb;
}
.remarks .remarks-min{
	width:400px;
	height:30px;
	margin-top: 30px;
}
.remarks .remarks-min span{
	color:#999;
}

.three-platform{
	margin-left: 70px;
}
.submit-code{
    position: fixed;
    bottom: 0;
    right: 20px;
    left: 0;
    overflow: hidden;
    padding: 30px 30px 46px;
    margin: 0;
    background: #fff;
    opacity: .9;
    border-top: 1px solid #eaeaea;
    margin-top: 30px;
    display: block;

}
.submit-code .btn-create{
	margin-top: 40px;
	margin-left: 200px;
}
.submit-code .btn-create button{
	margin-left: 40px;
}
small{
	font-size: 5px;
	color:#7d7d7d;
}
.submit-code .btn-create .ui-button{
  	background: #12bdce;
    border-style: solid;
    border-color: #12bdce;
    border-width: 1px;
    color: #fff;
    font-size: 14px;
    padding: 0 15px;
    border-radius: 0;
    width:130px;
    height: 33px;
    line-height: 33px;
}
.submit-code .btn-create .ui-button:hover{
    border-color: #21cada;
    background: #21cada;
    color: #fff;
    border-width: 1px;
}
.skin-link-button {
    background: none;
    border: 0 none;
    height: 33px;
    line-height: 33px;
    color: #12bdce;
}

