/**
 * mars后台模板
 * @author 蔡繁荣，肖代敏
 * @version 1.0.12 build 20170106
 */

/**
 * 主色:   #0ea6b2
 * hover: #0d929e
 * active: #0d828d;
 */
html,body{
    margin: 0;
    font-size: 14px;
    font-family: arial,verdana,"Hiragino Sans GB",Hiragino Sans GB,"\5B8B\4F53";
    -webkit-font-smoothing: antialiased;
}
body{
    overflow-y: scroll;
}
a{
    color: #12bdce;
}
a:hover, a:focus{
    color: #0b7983;
}

/**
 * 原子类
 * @author 蔡繁荣
 * @version 1.0.0 build 20161227
 */
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mb0{margin-bottom: 0 !important;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.mr5{margin-right: 5px;}
.mr8{margin-right: 8px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.pl0{padding-left: 0;}
.pr0{padding-right: 0;}

.text-required{ color: #ca0808; }

.inline-block{
    display: inline-block;
}

@keyframes yellowfade {
    from {
        background: #ffffaa;
    }
    to {
        background: transparent;
    }
}

.highlight-fade {
    animation: yellowfade 1.2s;
}

/* mars主题按钮样式 */
input,button,select,textarea{ outline:0; font-size: 12px;}
button:active,
button:hover{
    outline: 0;
}
.btn{
    outline: 0;
    border-radius: 0;
}
.btn-primary{
    background-color: #12bdce;
    border-color: #12bdce;
}
.btn-primary:hover{
    background-color: #21cada;
    border-color: #21cada;
}
.btn-primary:focus,
.btn-primary:active{
    border-color: #1cb6bb #27afa8 #16bbc9;
    background: #12bdce;
}
.btn-primary.disabled, .btn-primary[disabled],
.btn-primary.disabled:active, .btn-primary[disabled]:active,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover{
    background-color: #12bdce;
    border-color: #12bdce;
}
.btn-link{
    color: #21cada;
}
.btn-link:hover{
    color: #0b7983;
}
/* 幽灵按钮 */
.btn-ghost{
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 6px 20px;
    background-color: transparent;
    text-align: center;
    -webkit-transition: color,background .2s ease-in-out;
    transition: color,background .2s ease-in-out;
}
.btn-ghost:hover{
    background-color: #fff;
    color: #0ea6b2;
}
.navbar-mars .navbar-nav >li >a.btn-ghost{
    margin-top: 13px;
    padding: 6px 20px;
}
.navbar-mars .navbar-nav >li >a.btn-ghost:hover{
    background-color: #fff;
    color: #0ea6b2;   
}

.form-control{
    border-radius: 0;
    border-color: #ddd;

    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus{
    border-color: #72cfd8;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(114,207,216,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(114,207,216,.6);
}
.input-group-addon {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
}



/**
 * form-horizontal
 */
.form-view{
    position: relative;

    padding: 30px 40px 120px;
}
.form-horizontal .control-label{
    padding-left: 20px;
    text-align: left;
    color: #656565;
    font-weight: normal;
}
.form-group .text-required{
    float: left;
    margin-left: -15px;
    line-height: 34px;
}
.form-horizontal .help-block{
    font-size: 12px;
    color: #999;
    margin-top: 8px;
    margin-bottom: 8px;
}
.form-submit-section {
    margin: 0;
    padding: 30px 30px 35px;
    border-top: 1px solid #eaeaea;
    background: #fff;
    position: relative;
    opacity: 0.9;
    filter: alpha(opacity=90);

    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -40px;
}
.form-submit-section .btn {
    padding: 6px 50px;
}

.dropdown-menu{
    border-radius: 0;
}
.dropdown-menu>li>a{
    padding: 5px 20px;
}


.navbar-mars{
    min-height: 60px;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    background-color: #0ea6b2;
}
.navigator-collapse .navbar-mars {
    position: static;
    margin-left: 55px;
}
.navbar-mars .navbar-brand{
    height: 60px;
}
.navbar-mars .navbar-brand>img{
    -webkit-user-select: none;
}
.navbar-mars .navbar-nav>li>a{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.navbar-mars .navbar-nav>.active>a, 
.navbar-mars .navbar-nav>.active>a:hover, 
.navbar-mars .navbar-nav>.active>a:focus{
    color: #fff;
    background-color: #0d929e;
}
.navbar-mars .navbar-nav>li>a:hover, 
.navbar-mars .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-mars .navbar-nav>.open>a, 
.navbar-mars .navbar-nav>.open>a:hover, 
.navbar-mars .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #0d929e;
}

.navbar-mars .dropdown-menu{
    padding: 0;
    border-radius: 0;
    background-color: #0d929e;
    border: none;
}
.navbar-mars .dropdown-menu>li>a{
    color: #fff;
    padding: 8px 20px;
    font-weight: normal;
    transition: background-color 0.25s ease;
}
.navbar-mars .dropdown-menu>li>a:hover, 
.navbar-mars .dropdown-menu>li>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0d828d;
}
.navbar-mars .dropdown-menu .divider{
    background-color: #0d828d;
}

.inverse-sidebar {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.inverse-sidebar{
    float: left;
    width: 55px;
    height: 60px;
    margin-right: 15px;
    margin-left: -15px;
    background-color: #0d929e;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    color: #eee;

    cursor: pointer;
}
.inverse-sidebar .iconfont{
    font-size: 27px;
    display: inline-block;
    transition: all 0.3s ease;
}
.inverse-sidebar.fold .iconfont{
    transform: rotate(90deg);
}

.navigator-collapse .inverse-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
}


/**
 * 侧边菜单栏
 * @author 蔡繁荣
 * @version 1.0.0 build 20161226
 */
.sidebar{
    position: fixed;
    top: 60px;
    bottom: 0;
    z-index: 3;

    width: 170px;
    border: none;
    
    font-size: 13px;
    background-color: #e8e8e8;
    overflow: visible;
}
.navigator-collapse .sidebar{
    width: 55px;
}
.sidebar-menu{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-menu-item{
    position: relative;
    display: block;
}
.sidebar .sidebar-menu-item:hover {
    background-color: #f3f5f5;   
}
.sidebar-menu-item a{
    color: #666;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    display: block;
    padding: 15px 0 15px 20px;
}
.sidebar-menu-section-title{
    
}
.sidebar-menu-item i{
    width: 16px;
    height: 17px;
    display: inline-block;
    margin-right: 10px;
    color: #999;
}
.sidebar-menu-item span{
    color: #666;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.navigator-collapse .sidebar .sidebar-menu-item span{
    display: none;
}

.sidebar-menu-item.active,
.sidebar-menu-item.active:hover{
    background-color: #c1c1c1;
}
.sidebar-menu-item.active i,
.sidebar-menu-item.active span{
    color: #fff;
}


.sidebar-drop{ /* 菜单右边的箭头 */
    position: absolute;
    right: 0;
    top: 0;

    width: 37px;
    height: 48px;

    color: #ccc;
    font-size: 12px;
    line-height: 48px;
    text-align: center;    

    cursor: pointer;
    transform: scale(0.8);
    transition: all 0.2s ease-in-out;
}
.navigator-collapse .sidebar .sidebar-drop{
    display: none;
}
.sidebar-drop i{
    margin-right: 0;
}
.sidebar-menu-item.active .sidebar-drop{
    color: #fff;
}
.sidebar-menu-item.expand .sidebar-drop{
    transform: scale(0.8) rotate(90deg);
}

.sidebar-child-menu{
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
}
.sidebar-menu-item.expand .sidebar-child-menu{
    display: block;
}
.navigator-collapse .sidebar .sidebar-child-menu.expand{
    display: none;
}
.sidebar-child-menu li{
}
.sidebar-child-menu li a{
    display: block;
    height: 32px;
    padding-left: 50px;
    padding-top: 0;
    padding-bottom: 0;

    line-height: 32px;
    background-color: #ddd;
}
.sidebar-child-menu li a:hover{
    background-color: #f3f5f5;
}

.navigator-collapse .sidebar .sidebar-menu-item.active:after {
    border-color: transparent #fff transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    content: "";
    height: 0;
    width: 0;
    margin-top: -5px;
    position: absolute;
    right: 0;
    top: 50%;
}
.navigator-collapse .sidebar .sidebar-menu-item.active:hover:after {
    display: none;
}
.navigator-collapse .sidebar .sidebar-menu-item-has-child:hover .sidebar-menu-section-title {
    width: 225px;
    background-color: #f3f5f5;
}
.navigator-collapse .sidebar .sidebar-menu-item-has-child.active:hover .sidebar-menu-section-title {
    background-color: #c1c1c1;
}
.navigator-collapse .sidebar .sidebar-menu-item-has-child:hover span{
    display: inline;
    padding-left: 25px;
}
.navigator-collapse .sidebar .sidebar-menu-item-has-child.expand .sidebar-child-menu{
    display: none;
}
.navigator-collapse .sidebar .sidebar-menu-item-has-child:hover .sidebar-child-menu {
    display: block;
    position: absolute;
    top: 48px;
    left: 55px;
    width: 170px;
}
.navigator-collapse .sidebar .sidebar-menu-item-has-child .sidebar-child-menu a {
    padding-left: 20px;
}


.page-content {
    min-width: 960px;
    margin-left: 170px;
    margin-top: 60px;
}
.navigator-collapse .page-content{
    margin-left: 55px;
    margin-top: 0;
}


.page-breadcrumb {
    position: relative;
    padding-left: 10px;
    overflow: hidden;
    background: #f7f7f7;
    height: 50px;
    margin-bottom: 0;
    
    font-size: 14px;
    line-height: 50px;
}
.page-breadcrumb li{
    float: left;
    display: inline;
}
.page-breadcrumb li:first-child{
    
}
.page-breadcrumb li:last-child{
    padding: 0 20px;
}
.page-breadcrumb li a{
    color: #12bdce;
    padding: 0 20px;
}
.page-breadcrumb span{
    float: left;
    
    font-size: 10px;
    font-family: "Hiragino Sans GB",Hiragino Sans GB;
    color: #888;
    line-height: 48px;
}


/**
 * footer
 */
footer{
    margin: 30px;
    text-align: center;
    font-size: 13px;
    color: #888;
}


/**
 * 面板view, 
 * 注册页面、找回密码等通用模板页面
 */
.panel-view .form-horizontal .control-label{
    text-align: right;   
}
.panel-view .form-group{
    margin-bottom: 25px;
}




.list-view{
    position: relative;
    background: none repeat scroll 0 0 #fff;
    padding: 20px 30px 15px;
}
.list-meta {
    position: relative;
    margin-bottom: 10px;
}

.list-action {
    float: left;
}
.list-filter {
    margin-left: 100%;
}
.list-view .list-action {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    margin-right: 10px;
}
.list-view .list-filter {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0;
}


/* 表格 */
.table{
    font-size: 12px;
}
.table>thead>tr>th{
    background-color: #f7f7f7;
    border: none;
    font-weight: normal;
    padding: 10px 8px;
    border-bottom: 1px solid #eee;
    color: #555;
}
.table>tbody>tr>td{
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 8px;
    vertical-align: middle;
}
.table-hover>tbody>tr:hover {
    background-color: #fffbed;
}
.sort {
    padding-left: 0;
    padding-right: 20px;
    font-size: 14px;
    text-align: left;
    background-image: url("../images/sort_both.png");
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
}
.sort.desc {
    background-image: url("../images/sort_desc.png");
}
.sort.asc {
    background-image: url("../images/sort_asc.png");
}



/**
 * 分页
 * @author 蔡繁荣
 * @version 1.0.0 build 20161227
 */
.pagination{
    border-radius: 0;
    font-size: 12px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0;
}
.pagination>li>a, .pagination>li>span {
    color: #666;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #666;
    background-color: #eee;
    border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #12bdce;
    border-color: #12bdce;
}




/**
 * 模态框
 * @author 肖代敏，蔡繁荣
 * @version 1.0.5 build 20161227
 */
.modal-dialog {
    width: 500px;
}
.modal-content{
    border-radius: 0;
    border:1px solid #ddd;
    box-shadow:none;
}
.modal-content .modal-header {
    border-bottom: none;
    padding: 20px 20px 15px 20px;
}
.modal-content .modal-header .modal-title {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.modal-content .modal-body {
    padding: 15px 20px;
    font-size: 14px;
}
.modal-content .modal-body p{
    font-size: 13px;
}
.modal-content .modal-footer{
    padding: 15px 20px 20px;
    text-align: right;
    border-top: none;
}
.modal-footer .btn{
    padding: 6px 20px;
    font-size: 12px;
}


/**
 * 工具提示
 * @author 肖代敏，蔡繁荣
 * @version 1.0.1 build 20170104
 */
.tooltip-arrow{
    display: none;
}
.tooltip-inner {
    max-width: 220px;
    padding: 13px 9px;
    color: #777777;
    text-align: left;
    background-color: rgb(233,249,250);
    border:1px solid rgb(199,243,246);
    border-radius: 0;
}

.tooltip-help{
    width: 15px;
    height: 15px;
    border: 1px solid #12bfcd;
    border-radius: 50%;
    padding: 0 !important;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: normal;
    color: #12bfcd;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;

 
    cursor: pointer;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
}


/**
 * 面板
 * @author 肖代敏，蔡繁荣
 * @version 1.0.0 build 20161228
 */
.panel{
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.panel-default{
    background-color: #fff;
}
.panel-default .panel-heading{
    background-color: transparent;
}
.panel-body{
    padding: 15px 20px;
}


/**
 * 导航
 */
.nav-tabs{
    border-bottom: 1px solid #12bdce;
}
.nav-tabs>li>a {
    border-radius: 0px;
    padding: 7px 12px;
    margin-right: 3px;
}
.nav-tabs>li>a:hover, 
.nav-tabs>li>a:focus {
    background-color: #e9fafa;
    border-color: #e9fafa #e9fafa #12bdce;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    border: 1px solid #12bdce;
    border-bottom-color: transparent;
}



/**
 * 警告框
 * @author 肖代敏
 * @version 1.0.0 build 20161228
 */
.alert {
    border: none;
    border-radius: 0;
    padding: 5px 20px;
    line-height: 25px;
    font-size: 12px;
    color: #656565;
}
.alert-danger {
    background-color: #fff5d9;
}
.alert-success {
    background-color: #f3fbfd;
}


/**
 * 进度条
 */
.progress{
    border-radius: 2px;
}
.progress-bar-success{
background-color: #5cb85c
}
.progress-bar-info{
background-color: #5bc0de
}
.progress-bar-warning{
background-color: #f0ad4e
}
.progress-bar-danger{
    background-color: #d9534f
}



/**
 * toastr插件
 * @author 蔡繁荣
 * @version 1.0.0 build 20161229
 */
#toast-container .toast{
    padding: 15px;
    border-radius: 0;
}
#toast-container > .toast:before {
    float: left;
    display: inline-block;
    margin-right: 10px;
    
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}
#toast-container > .toast.toast-success{
    background-color: #5cb85c;
    background-image: none !important;
}
#toast-container > .toast.toast-success:before{
    content: "\e013";
}
#toast-container > .toast.toast-info{
    background-color: #5bc0de;
    background-image: none !important;
}
#toast-container > .toast.toast-info:before{
    content: "\e086";
}
#toast-container > .toast.toast-warning{
    background-color: #f0ad4e;
    background-image: none !important;
}
#toast-container > .toast.toast-warning:before{
    content: "\e107";
}
#toast-container > .toast.toast-error{
    background-color: #d9534f;
    background-image: none !important;
}
#toast-container > .toast.toast-error:before{
    content: "\e101";
}
#toast-container > .toast:hover {
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

