.modal{
  display: block;
}
.modal-header {
    font-size: 14px;
    border:none;

}
..modal-title {
    font-size: 14px;
    line-height: 35px;
    color: #333;
}
h4{
	color:#333;
	font-weight: bold;
	font-size: 14px;
}
.modal-content{
	border-radius: none;
	border:1px solid #ccc;
	box-shadow:none;
}

.modal-body {
    font-size: 14px;
    margin-left: 20px;
}
.modal-body p{
    font-size: 13px;
}
.btn{
	background: #12bdce;
    border-style: solid;
    border-color: #12bdce;
    border-width: 1px;
    color: #fff;
    font-size: 12px;
    padding: 0 15px;
    border-radius: 0;
    width:60px;
    height: 33px;
    line-height: 33px;
    margin-left: -300px;
}
.btn-primary{
	margin-left: 20px;
}
.modal-dialog {
    width: 480px;
    margin: 30px auto;
}
.btn:hover{
    border-color: #21cada;
    background: #21cada;
    color: #fff;
    border-width: 1px;
}
.btn.btn-default {
    background: none;
    border: 0 none;
    height: 33px;
    line-height: 33px;
    color: #12bdce;
    margin-left: 10px;
}
.modal-footer{
   text-align: left;
   border-top: none;
}
