.alert-danger {
    background-color: #fff5d9;
}
.alert {
    margin-bottom: 20px;
    border: none;
    border-radius: 0;
    padding: 5px 20px;
    line-height: 25px;
    font-size: 12px;
    color: #656565;
}
.alert-success {
    background-color: #f3fbfd;
}
